body {
    background-color: #ffc6c6;
}

.nav {
    padding: 2rem;
}

.brand-vertical {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.socials-vertical {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.logo img {
    height: 250px;
    width: auto;
    display: block;
    fill: #ffffff;
}

.sidelink img {
    height: 40px;
    width: auto;
    display: block;
    fill: "#ffffff";
    opacity: 0.8;
    transition: opacity .2s ease;
}

.nav-links a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    flex-direction: row;

}

.nav-lin.active {
    text-decoration: underline;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.25s ease;
}

/* show underline on hover or active */
.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}